.message {
    display: flex;
    justify-content: right;
    border: 1px solid lime;
    margin: 10px;
}

.friendMessage {
    display: flex;
    border: 1px solid red;
    margin: 10px;
}

.sendForm {
    display: flex;
    justify-content: right;
    margin: 10px;
}

.textarea {

}

.button {

}