.all {
    --color: #06c;
}

.low {
    --color: #0c2;
}

.high {
    --color: #c00;
}

.middle {
    --color: #cc9c00;
}

.button {
    background: transparent;
    border: 1px solid var(--color);
    border-radius: 15px;
    color: var(--color);
    outline: none;
    padding: 5px 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    cursor: pointer;
}

.button:active {
    background: var(--color);
    color: white;
}

.active {
    background: var(--color);
    color: white;
}

.affair {
    display: flex;
    align-items: center;
    border: 1.5px solid var(--color);
    width: 185px;
    border-radius: 5px;
}

.affairs {
    display: flex;
    gap: 17px;
    flex-wrap: wrap;
    max-width: 450px;
}

.item {
    width: 145px;
    height: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    padding: 32px 0 73px 70px;
}

.buttonContainer {
    display: flex;
    gap: 24px;
    margin-bottom: 32px;
}

.closeButton {
    border: none;
    border-left: 1.5px solid var(--color);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    width: 40px;
    height: 37px;
    font-weight: 900;
    cursor: pointer;
}
