.select {
    padding-left: 10px;
    width: 165px;
    height: 24px;
    cursor: pointer;
    appearance: none;
    background-color: transparent;
    background-image: url('./chevron-down.svg');
    background-position: right center;
    background-repeat: no-repeat;
    border-radius: 2px;
    border: 1px solid #C2C2C2;
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.select:focus {
    outline: none;
}

.option {
    /*padding: 30px;*/
    color: var(--primary-content);
    background: var(--primary);
}

.option:checked {
    color: var(--secondary-content);
    background: var(--primary);
}

.option:hover {
    box-shadow: 0 0 10px 100px #fed20f inset;
    transition: all 0.2s ease-in-out;
    background: red;
}
