@keyframes blink {
    0% {
        left: -130%;
    }
    100% {
        left: 130%;
    }
}


.disabled {
    background: #004d99;
    opacity: 0.5;
    color: #002e5c;
}


.button {
    overflow: hidden;
    cursor: pointer;
    border-radius: 3px;
    border: none;
    color: white;
    padding: 5px 24px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
}

.secondary {
    background: transparent;
    border: 1px solid #0066CC;
    border-radius: 3px;
    color: #0066CC;
}

.default {
    background: #06c;
}

.red {
    background: #cc1439;
}

.button::after {
    display: block;
    content: '';
    position: absolute;

    left: -130%;
    top: 0;
    height: 100%;
    width: 20%;

    transform: skew(45deg);

    background-color: #fff;
    opacity: 0.7;

    z-index: 14;
}

.default:hover {
    background: #0080ff;
}

.red:hover {
    background: #ff1a47;
}

.secondary:hover {
    background: #E5F0FA;
}


.default:active {
    background: #0059b3;
}

.secondary:active {
    background: #C9E5FF;
}

.red:active {
    background: #b31232;
}

.button:disabled {
    cursor: default;
}
